<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0, minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<!--iphone桌面快捷方式图标<link rel="apple-touch-icon" href="custom_icon.png">-->
<meta charset="utf-8">
<meta name="keywords" content="装修管家,量房设计,装修施工,材料商城,环保方案,装修服务,装修图库,建材商城,装修攻略、优装网、装修网、优装美家">
<meta name="description" content="优装美家为您提供免费专业咨询、免费量房、免费设计、免费装修保险、免费环保检测、优装网-专业装修网优选装修公司、优选建材商品、优选装修管家、优选环保服务">
<title>优装美家—管家式装修服务 有品质的低价</title>
<link href="{R}msite/base/css/swiper.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{R}msite/base/css/base.css">
<link href="{R}msite/activity/css/activity_new.css" rel="stylesheet" type="text/css">
<div style="display:none">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0a9b93e0ac9bdda145e2d4f6ffa88ee5";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</div>
</head>
<body id="managerPage">
<div id='share_logo' style='margin:0 auto;display:none;'> 
  <img src="{R}msite/base/img/share_logo.jpg"/> 
</div>
<header>
    <a id="logo" href="mobile-index.html" target="_self" title="优装美家"><i class="iconfont icon-jingyu"></i></a>
    <!-- <div class="city">
        <a href="##" class="current-city">北京<i class="iconfont icon-xiajiantou"></i></a>
    </div> -->
    <h1 class="header-title">优装美家</h1>
    
</header>

<div class="container">
<section class="common-container">
    <ul id="common-content">
        <!-- <li class="content-li">
            <img src="{R}msite/activity/img/case1.png" alt="效果图">
        </li>
        <li class="content-li">
            <img src="{R}msite/activity/img/case2.png" alt="效果图">
        </li>
        <li class="content-li">
            <div id="apply-form">
                <form name="myform" method="post" id="myform" >
                    <div id="name-box">
                        <input id="user-name" name="title" class="apply-input" type="text" maxlength="10" placeholder="您的姓名">
                    </div>
                    <div id="phone-box">
                        <input id="user-pwd" name="telephone" class="apply-input" type="tel" maxlength="11" placeholder="您的手机">
                    </div>
                    <div id="area-choose" class="user-info fix">
                        <div id="province" class="fl">
                        <select  name="select-01" id="select-01" class="apply-select">
                            <option value="0">省/市</option>
                        </select>
                        </div>
                        <div id="city" class="fr">
                            <select  name="select-02" id="select-02" class="apply-select">
                                <option value="0" selected="">市/地区</option>
                            </select>
                        </div>
                    </div>
                    <input id="applyBtn" class="orange-btn" type="submit" value="一秒报名">
                    <input id="source" name="source" type="hidden" size="30" value="活动报名页">
                </form>
                <p id="apply-total" class="total">已有<em class="number" id="userTotal">0</em>人参加</p>
            </div>
        </li> -->
    </ul>
</section>
<section id="swiper-container">
    <ul class="swiper-wrapper">
    </ul>
    <div class="swiper-pagination"></div>
</section>
</div>
<!--footer_menu start-->
<section class="footer_menu_bs">
    <ul class="left_menu_bs">
        <li class="footer_btn_bs">
            <i class="iconfont icon-home"></i>
            <div>首页</div>
            <a href="http://m.uzhuang.com/"></a>
        </li>
        <li class="footer_btn_bs">
            <i class="iconfont icon-tuku"></i>
            <div>精品案例</div>
            <a href="mobile-cases.html"></a>
        </li>
    </ul>
    <ul class="right_menu_bs">
        <li class="footer_btn_bs">
            <i class="iconfont icon-shejishi"></i>
            <div>我的</div>
            <a href="mobile-user_home.html"></a>
        </li>
        <li class="footer_btn_bs">
            <i class="iconfont icon-gongdi"></i>
            <div>工地直播</div>
            <a href="mobile-building_list.html"></a>
        </li>
    </ul>
</section>
<!--footer_menu end-->
<!-- 添加悬浮客服 -->
 <!--<a target="_blank"  href="javascript:void(0)" id="udesk-feedback-tab" class="" style="" onclick="openJesongPlatChat(1);"><img src="{R}msite/base/img/service_tel.png" alt="" /></a>-->
<!-- 添加悬浮客服 -->
<div id="errorCue" class="hideError"><span id="errorMsg">您输入的姓名或电话有错误</span></div>
<div class="style-none">
    <a id="footer-bottom-tel" href="tel:400-6171-666">咨询电话：400-6171-666</a>
    <button id="free-btn">一秒报名</button>
</div>
<footer id="footer">
    <ul class="platforms">
        <li class="active"><a href="mobile-index.html"><cite class="iconfont icon-shouji"></cite>触屏版</a></li>
        <li class="vline"></li>
        <li><a href="http://www.uzhuang.com/index.php?from=wap"><cite class="iconfont icon-diannao"></cite>电脑版</a></li>
        <li class="vline"></li>
        <li><a href="mobile-about_us.html"><cite class="iconfont icon-guanyuwomen"></cite>关于我们</a></li>
    </ul>
    <p class="company-name">北京优装网信息科技有限公司<br>京ICP备15022586号-1</p>
</footer>
<script type="text/template" id="common-data">
    <% for(var key in module){ %>
        <% var item = module[key] %>
        <% if(Array.prototype.isPrototypeOf(item)){ %>
            <li class="content-li">
                <% if(item[0].caset == "vim") { %>
                    <% for(var key in item){ %>
                        <div class="temp-video" style="background: url(<%= item[key].img %>) no-repeat 0 0/cover;"><div id="youkuplayer" class="video-box"><iframe width=100% height=100% src="<%= item[key].url %>" frameborder=0 allowfullscreen></iframe></div></div>
                    <% } %>
                <% } %>
                <% if(item[0].caset == "carrousel"){ %>
                    <div id="box<%= key %>" class="swiper-box">
                        <div class="swiper-wrapper">
                            <% for(var key in item){ %>
                                <div class="swiper-slide">
                                <% if(item[key].url){ %>
                                    <img class="swiper-img" src="<%= item[key].img %>">
                                    <a class="swiper-link" href="<%= item[key].url %>"></a>
                                <% } else { %>
                                    <img class="swiper-img" src="<%= item[key].img %>">
                                <% } %>
                                </div>
                            <% } %>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                <% } %>
                <% if(item[0].caset == "case"){ %>
                    <% for(var key in item){ %>
                        <% if(item[key].url) { %>
                            <a href="<%= item[key].url %>"><img class="lazy-img" src="<%= item[key].img %>"></a>
                        <% } else { %>
                            <img class="lazy-img" src="<%= item[key].img %>">
                        <% } %>
                    <% } %>
                <% } %>
            </li>
        <% } else { %>
            <li class="content-li">
            <% if(applybox == 1){ %>
                <% if(item.caset == "apply"){ %>
                    <div id="apply-form<%= key %>" class="cls-applyform" style="background: url(<%= item.background %>) no-repeat 0 0/cover;">
                        <form name="myform" method="post" id="myform<%= key %>" class="myforms">
                            <div id="name-box<%= key %>">
                                <input id="user-name<%= key %>" name="title" class="apply-input cls-name" type="text" maxlength="10" placeholder="您的姓名">
                            </div>
                            <div id="phone-box<%= key %>">
                                <input id="user-pwd<%= key %>" name="telephone" class="apply-input cls-phone" type="tel" maxlength="11" placeholder="您的手机">
                            </div>
                            <% if(item.are == 1){ %>
                                <div id="area-choose" class="user-info fix">
                                    <div id="province<%= key %>" class="cls-province">
                                    <select  name="select-01" id="select-01<%= key %>" class="open-city">
                                        <option value="0">省/市</option>
                                        <% for(var key in item.city){ %>
                                            <option value=<%= item.city[key].lid%>><%= item.city[key].name%></option>
                                        <% } %>
                                    </select>
                                    </div>
                                </div>
                            <% } %>
                            <% if(item.are == 2){ %>
                                <div id="area-choose" class="user-info fix">
                                    <div id="province<%= key %>" class="fl">
                                    <select  name="select-01" id="select-01<%= key %>" class="apply-select cls-province">
                                        <option value="0">省/市</option>
                                        <% for(var key in item.city){ %>
                                            <option value=<%= item.city[key].lid%>><%= item.city[key].name%></option>
                                        <% } %>
                                    </select>
                                    </div>
                                    <div id="city<%= key %>" class="fr">
                                        <select  name="select-02" id="select-02<%= key %>" class="apply-select cls-city">
                                            <option value="0" selected="">市/地区</option>
                                        </select>
                                    </div>
                                </div>
                            <% } %>
                            <input id="applyBtn<%= key %>" class="orange-btn" type="submit" value="<%= item.submitcopy %>" style="background-color: <%= item.buttoncolor %>; color: <%= item.buttoncopycolor %>">
                            <input id="source<%= key %>" name="source" type="hidden" size="30" value="活动报名页">
                        </form>
                        <p id="apply-total<%= key %>" class="total" style="color: <%= item.cuewords %>">已有<em class="number" id="userTotal" style="color: <%= item.numbercolor %>"><%= item.tosignup %></em>人参加</p>
                    </div>
                <% } %>
            <% } %>
            </li>
        <% } %>
    <% } %>
</script>
<script type="text/template" id="h5-data">
    <% for(var key in module){ %>
        <% var item = module[key] %>
        <% if(Array.prototype.isPrototypeOf(item)){ %>
                <% if(item[0].caset == "vim") { %>
                    <% for(var key in item){ %>
                    <li class="swiper-slide" style="background: url(<%= item[key].img %>) no-repeat 0 0/cover;">
                        <div class="temp-video"><div id="youkuplayer" class="video-box"><iframe width=100% height=100% src="<%= item[key].url %>" frameborder=0 allowfullscreen></iframe></div></div>
                        <div class="go-top"><i></i></div>
                    </li>
                    <% } %>
                <% } %>
                <% if(item[0].caset == "case"){ %>
                    <% for(var key in item){ %>
                    <li class="swiper-slide">
                    <% if(item[key].url) { %>
                        <a href=<%= item[key].url %>><i class="pic-bg" style="background: url(<%= item[key].img %>) no-repeat 0 0/cover;"></i></a>
                        <div class="go-top"><i></i></div>
                    <% } else { %>
                        <i class="pic-bg" style="background: url(<%= item[key].img %>) no-repeat 0 0/cover;"></i>
                        <div class="go-top"><i></i></div>
                    <% } %>
                    </li>
                    <% } %>
                <% } %>
        <% } else { %>
            <% if(applybox == 1){ %>
                <% if(item.caset == "apply"){ %>
                <li class="swiper-slide" style="background: url(<%= item.background %>) no-repeat 0 0/cover;">
                    <div id="apply-form<%= key %>" class="cls-applyform">
                        <form name="myform" method="post" id="myform<%= key %>" class="myforms" >
                            <div id="name-box<%= key %>">
                                <input id="user-name<%= key %>" name="title" class="apply-input cls-name" type="text" maxlength="10" placeholder="您的姓名">
                            </div>
                            <div id="phone-box<%= key %>">
                                <input id="user-pwd<%= key %>" name="telephone" class="apply-input cls-phone" type="tel" maxlength="11" placeholder="您的手机">
                            </div>
                            <% if(item.are == 1){ %>
                                <div id="area-choose" class="user-info fix">
                                    <div id="province<%= key %>">
                                    <select  name="select-01" id="select-01<%= key %>" class="open-city cls-province">
                                        <option value="0">省/市</option>
                                        <% for(var key in item.city){ %>
                                            <option value=<%= item.city[key].lid%>><%= item.city[key].name%></option>
                                        <% } %>
                                    </select>
                                    </div>
                                </div>
                            <% } %>
                            <% if(item.are == 2){ %>
                                <div id="area-choose" class="user-info fix">
                                    <div id="province<%= key %>" class="fl">
                                    <select  name="select-01" id="select-01<%= key %>" class="apply-select cls-province">
                                        <option value="0">省/市</option>
                                        <% for(var key in item.city){ %>
                                            <option value=<%= item.city[key].lid%>><%= item.city[key].name%></option>
                                        <% } %>
                                    </select>
                                    </div>
                                    <div id="city<%= key %>" class="fr">
                                        <select  name="select-02" id="select-02<%= key %>" class="apply-select cls-city">
                                            <option value="0" selected="">市/地区</option>
                                        </select>
                                    </div>
                                </div>
                            <% } %>
                            <input id="applyBtn<%= key %>" class="orange-btn" type="submit" value="<%= item.submitcopy %>" style="background-color: <%= item.buttoncolor %>; color: <%= item.buttoncopycolor %>">
                            <input id="source<%= key %>" name="source" type="hidden" size="30" value="活动报名页">
                        </form>
                        <p id="apply-total<%= key %>" class="total" style="color: <%= item.cuewords %>">已有<em class="number" id="userTotal" style="color: <%= item.numbercolor %>"><%= item.tosignup %></em>人参加</p>
                    </div>
                    <div class="go-top"><i></i></div>
                </li>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
</script>
<script type="text/template" id="city-data">
    <option value="0">市/地区</option>
    <% for(var key in arr){ %>
        <option value=<%= arr[key].lid%>><%= arr[key].name%></option>
    <% } %>
</script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<script type="text/javascript" src="{R}msite/base/js/zepto.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/underscore.min.js"></script>
<script src="{R}msite/base/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/base.js"></script>
<script type="text/javascript" src="{R}msite/base/js/size.js"></script>
<script type="text/javascript" src="{R}msite/activity/js/activity_new.js"></script>

<!--<script type="text/javascript">-->
    <!--function openJesongPlatChat(cid,gid,fid){-->
        <!--var url=null;-->
        <!--if(cid==null){-->
            <!--alert("必须传入公司id");-->
            <!--return false;-->
        <!--}else if(cid!=null&&gid==null&&fid==null){-->
             <!--url="http://service.uzhuang.com/live/chat.dll?c="+cid+"";-->
        <!--}else if(fid==null&&gid!=null){-->
             <!--url="http://service.uzhuang.com/live/chat.dll?c=1&g="+gid+"";-->
        <!--}else  {-->
            <!--url="http://service.uzhuang.com/live/chat.dll?c=1&g="+gid+"&f="+fid+"";-->
        <!--}-->
        <!--window.open(url);-->
    <!--}-->
<!--</script>-->
</body>
</html>