<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0, minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<!--iphone桌面快捷方式图标<link rel="apple-touch-icon" href="custom_icon.png">-->
<meta charset="utf-8">
<meta name="keywords" content="装修管家,量房设计,装修施工,材料商城,环保方案,装修服务,装修图库,建材商城,装修攻略、优装网、装修网、优装美家">
<meta name="description" content="优装美家为您提供免费专业咨询、免费量房、免费设计、免费装修保险、免费环保检测、优装网-专业装修网优选装修公司、优选建材商品、优选装修管家、优选环保服务">
<title>优装美家—管家式装修服务 有品质的低价</title>
<link href="{R}msite/base/css/base.css" rel="stylesheet" type="text/css">
<link href="{R}msite/building_classroom/css/building_cl.css" rel="stylesheet" type="text/css">
<div style="display:none">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0a9b93e0ac9bdda145e2d4f6ffa88ee5";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</div>
</head>
<body>
<div id='share_logo' style='margin:0 auto;display:none;'>
  <img src="{R}msite/base/img/share_logo.jpg"/>
</div>
<header>
	<div class="tit_minu">
        <a id="go-back" target="_self" title="优装美家">
            <i class="iconfont icon-goback"></i>
        </a>
        <a class="back_index" href="mobile-index.html">首页</a>
    </div>
	<h1 class="header-title">家装选材</h1>
	<a href="/mobile-search_page.html?pname=cl"><i class="iconfont icon-sousuo"></i></a>
	<i class="iconfont icon-shaixuan"></i>
</header>
<section class="banner">
	<img src="{R}msite/building_classroom/img/cl_banner.jpg" alt="banner图" />
</section>

<!-- 家装选材 S -->
<section class="building-list" id="cl-box">
	<ul>
		<!-- <li>
			<a href="#">
				<div class="img-box">
					<img src="{R}msite/building_classroom/img/list_img.jpg" alt="攻略图" />
				</div>
				<div class="word-box">
					<h3>装修管家15年经验总结 收房...</h3>
					<p>房屋装修分为硬装和软装，前者决定房屋质量而后者却是决定房屋美观与否的</p>
				</div>
			</a>
		</li> -->
	</ul>
</section>
<!-- 家装选材 E -->

<!-- 筛选页面 S -->
<section class="cl-sx">
	<span class="sx-ceng"></span>
	<div class="sx-content">
		<dl class="ch-all">
			<dt>全部分类</dt>
			<dd class="active"><i class="iconfont icon-right"></i></a></dd>
		</dl>
		<dl class="dl-box">
			<dt class="c-dt"><span>建材</span><i class="iconfont icon-slidearrow"></i></dt>
			<div class="dd-box">
				<dd index="36"><a href="mobile-cl_result.html?cid=36">灯具</a></a></dd>
				<dd index="37"><a href="mobile-cl_result.html?cid=37">卫浴设备</a></a></dd>
				<dd index="38"><a href="mobile-cl_result.html?cid=38">油漆</a></dd>
				<dd index="39"><a href="mobile-cl_result.html?cid=39">瓷砖</a></dd>
				<dd index="40"><a href="mobile-cl_result.html?cid=40">门窗</a></dd>
				<dd index="41"><a href="mobile-cl_result.html?cid=41">五金</a></dd>
				<dd index="42"><a href="mobile-cl_result.html?cid=42">橱柜</a></dd>
				<dd index="43"><a href="mobile-cl_result.html?cid=43">地板</a></dd>
				<dd index="44"><a href="mobile-cl_result.html?cid=44">暖气设备</a></dd>
				<dd index="45"><a href="mobile-cl_result.html?cid=45">壁纸</a></dd>
				<dd index="46"><a href="mobile-cl_result.html?cid=46">水龙头</a></dd>
				<dd index="47"><a href="mobile-cl_result.html?cid=47">天花板/吊顶</a></dd>
				<dd index="48"><a href="mobile-cl_result.html?cid=48">建筑构件</a></dd>
				<dd index="49"><a href="mobile-cl_result.html?cid=49">装修材料</a></dd>
				<dd index="50"><a href="mobile-cl_result.html?cid=50">厨房用具</a></dd>
			</div>
		</dl>
		<dl class="dl-box">
			<dt class="c-dt"><span>家具</span><i class="iconfont icon-slidearrow"></i></dt>
			<div class="dd-box">
				<dd index="51"><a href="mobile-cl_result.html?cid=51">家具</a></dd>
				<dd index="52"><a href="mobile-cl_result.html?cid=52">儿童家具</a></dd>
			</div>
		</dl>
		<dl class="dl-box">
			<dt class="c-dt"><span>软装</span><i class="iconfont icon-slidearrow"></i></dt>
			<div class="dd-box">
				<dd index="53"><a href="mobile-cl_result.html?cid=53">地毯</a></dd>
				<dd index="171"><a href="mobile-cl_result.html?cid=171">床上用品</a></dd>
				<dd index="54"><a href="mobile-cl_result.html?cid=54">窗帘</a></dd>
				<dd index="55"><a href="mobile-cl_result.html?cid=55">日用杂品</a></dd>
				<dd index="56"><a href="mobile-cl_result.html?cid=56">饰品</a></dd>
			</div>
		</dl>
		<dl class="dl-box">
			<dt class="c-dt"><span>电器</span><i class="iconfont icon-slidearrow"></i></dt>
			<div class="dd-box">
				<dd index="57"><a href="mobile-cl_result.html?cid=57">办公设备</a></dd>
				<dd index="58"><a href="mobile-cl_result.html?cid=58">家用电器</a></dd>
				<dd index="59"><a href="mobile-cl_result.html?cid=59">厨用电器</a></dd>
			</div>
		</dl>
	</div>
</section>
<!-- 筛选页面 E -->
<script type="text/template" id="cl-data">
	<% for(var i=0; i<arr.length; i++){ %>
		<% var item = arr[i] %>
		<li>
			<a href="<%= item.url %>&pid=cl">
				<div class="img-box">
					<img src="<%= item.thumb %>" alt="攻略图" />
				</div>
				<div class="word-box">
					<h3 class="same-h3"><%= item.title %></h3>
					<p class="same-p"><%= item.remark %></p>
				</div>
			</a>
		</li>
	<% } %>
</script>
<script type="text/javascript" src="{R}msite/base/js/zepto.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/underscore.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/size.js"></script>
<script type="text/javascript" src="{R}msite/base/js/base.js"></script>
<script type="text/javascript" src="{R}msite/building_classroom/js/common.js"></script>
<script type="text/javascript" src="{R}msite/building_classroom/js/building_cl.js"></script>

</body>
</html>