<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0, minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--iphone桌面快捷方式图标<link rel="apple-touch-icon" href="custom_icon.png">-->
    <meta charset="utf-8">
    <meta property="qc:admins" content="50304154552051676375" />
    <meta name="keywords" content="装修管家,量房设计,装修施工,材料商城,环保方案,装修服务,装修图库,建材商城,装修攻略、优装网、装修网、优装美家">
    <meta name="description" content="优装美家为您提供免费专业咨询、免费量房、免费设计、免费装修保险、免费环保检测、优装网-专业装修网优选装修公司、优选建材商品、优选装修管家、优选环保服务">
	<title>优装美家—计算器</title>
	<link rel="stylesheet" type="text/css" href="{R}msite/base/css/base.css">
	<link rel="stylesheet" href="{R}msite/calculator_new/css/calculator_revise.css" />

<div style="display:none">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0a9b93e0ac9bdda145e2d4f6ffa88ee5";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</div>
</head>
<body id="managerPage">
<header>
    <div class="tit_minu">
        <a id="go-back" target="_self" title="优装美家">
            <i class="iconfont icon-goback"></i>
        </a>
        <a class="back_index" href="mobile-index.html">首页</a>
    </div>
    <h1 class="header-title">优装美家</h1>
</header>
<section>
    <div class="quality">
        <div id="apply-form">
            <form name="myform" method="post" id="myform">
                <div id="area-box">
                    <input id="user-area" name="title" class="apply-input" type="number" maxlength="10" placeholder="请输入您的建筑面积">
                </div>
                <div class="user-info fix">
                    <div id="province">
                        <select name="select-01" id="select-01">
                            <option value="0">请选择城市</option>
                        </select>
                    </div>
                </div>
                <div id="area-box" class="area-box">
					<div class="first-box">
						<select name="rooms" id="rooms">
						    <option value="1">1室</option>
						    <option value="2">2室</option>
						    <option value="3">3室</option>
						    <option value="4">4室</option>
						    <option value="5">5室</option>
						</select>
						<select name="living-room" id="living-room">
						    <option value="0">0厅</option>
						    <option value="1">1厅</option>
						    <option value="2">2厅</option>
						</select>
					</div>
					<div class="second-box">
						<select name="kitchen" id="kitchen">
						    <option value="0">0厨</option>
						    <option value="1">1厨</option>
						</select>
						<select name="bathroom" id="bathroom">
						    <option value="0">0卫</option>
						    <option value="1">1卫</option>
						    <option value="2">2卫</option>
						</select>
						<select name="balcony" id="balcony">
						    <option value="0">0阳台</option>
						    <option value="1">1阳台</option>
						    <option value="2">2阳台</option>
						</select>
					</div>
                </div>
                <input id="applyBtn" class="blue-btn" type="submit" value="确定并重新计算">
                <input id="source" name="source" type="hidden" size="30" value="m站装修计算器">
            </form>
            <div id="errorCue" class="hideError"><span id="errorMsg">您输入的姓名或电话有错误</span></div>
        </div>
    </div>
    <div class="second-show">
		<div class="sec-apply">
			<form id="second-form">
				<div id="sec-form-box">
					<div id="form-content" class="clearfix">
						<!-- <p><span>主卧</span><input class="areanum" type="number" value="" />㎡</p>
						<p><span>次卧</span><input class="areanum" type="number" value="" />㎡</p>
						<p><span>客卧</span><input class="areanum" type="number" value="" />㎡</p>
						<p><span>书房</span><input class="areanum" type="number" value="" />㎡</p>
						<p><span>杂物房</span><input class="areanum" type="number" value="" />㎡</p>
						<p><span>阳台</span><input class="areanum" type="number" value="" />㎡</p>
						<p><span>其他</span><input class="areanum" type="number" value="" />㎡</p> -->
					</div>
				</div>
				<div class="second-error"><i class="iconfont icon-cuowutishi"></i><span class="error-msg">您填写的面积超过了建筑面积，请修改！</span></div>
				<input id="applyBtn" class="blue-btn" type="submit" value="确定并重新计算">
			</form>
		</div>
    </div>
</section>
<script type="text/template" id="sec-form-data">
	<% for(var key in data){ %>
		<% if(key != '其他'){ %>
			<p><span><%= key %></span><input class="areanum" type="number" value="<%= data[key].area %>" />㎡</p>
		<% } %>
	<% } %>
</script>
<script src="{R}msite/base/js/zepto.min.js"></script>
<script src="{R}msite/base/js/underscore.min.js"></script>
<script src="{R}msite/base/js/base.js"></script>
<script src="{R}msite/calculator_new/js/calculator_revise.js"></script>
</body>
</html>