<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0, minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<!--iphone桌面快捷方式图标<link rel="apple-touch-icon" href="custom_icon.png">-->
<meta charset="utf-8">
<meta name="keywords" content="装修效果图，家居装饰搭配图片,效果图，装修设计，室内设计，装修案例，房屋装修效果图，别墅装修效果图，一居装修效果图，二居装修效果图、三居装修效果图,复式装修效果图，装修效果图大全 装修设计图">
<meta name="description" content="优装美家装修图库为您提供国内外最流行的装修效果图,最新家居装饰搭配图片,还有丰富简约时尚的客厅、卧室、电视墙、卫生间、餐厅、一居装修效果图、二居装修效果图等各类装修案例,帮您优装美家。">
<title>装修效果图大全_室内设计效果图_装潢效果图_室内装饰效果图_优装美家图库</title>
<link rel="stylesheet" type="text/css" href="{R}msite/base/css/base.css">
<link href="{R}msite/cases/css/cases.css" rel="stylesheet" type="text/css">
<link href="{R}/msite/index/css/post_form.css" rel="stylesheet" type="text/css">
<div style="display:none">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0a9b93e0ac9bdda145e2d4f6ffa88ee5";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</div>
</head>
<body>
<div id='share_logo' style='margin:0 auto;display:none;'> 
  <img src="{R}msite/base/img/share_logo.jpg"/> 
</div>
<header>
	<div class="tit_minu">
        <a id="go-back" target="_self" title="优装美家">
            <i class="iconfont icon-goback"></i>
        </a>
        <a class="back_index" href="mobile-index.html">首页</a>
    </div>
	<!-- <div class="city">
		<a href="##" class="current-city">北京<i class="iconfont icon-xiajiantou"></i></a>
	</div> -->
	<h1 class="header-title">精品案例</h1>
    <i id="shaixuan-link" class="iconfont icon-shaixuan"></i>
	
</header>

<section id="sx-slide">
	<div class="shaixuan-top">
		<div id="sx-close"><i class="iconfont icon-close"></i></div>
		<h1 class="header-title">图库筛选</h1>
	</div>
	<div class="shaixuan-box">
		<div id="shaixuan-content">
			<!-- <dl class="dl-fix">
				<dt>风格</dt>
				<a href="##"><dd>现代</dd></a>
				<a href="##"><dd>简约</dd></a>
				<a href="##"><dd>田园</dd></a>
				<a href="##"><dd>中式</dd></a>
				<a href="##"><dd>新古典</dd></a>
				<a href="##"><dd>地中海</dd></a>
				<a href="##"><dd>东南亚</dd></a>
				<a href="##"><dd>美式</dd></a>
				<a href="##"><dd>日式</dd></a>
				<a href="##"><dd>欧式</dd></a>
				<a href="##"><dd>混搭</dd></a>
				<a href="##"><dd>其他</dd></a>
			</dl>
			<dl class="dl-fix">
				<dt>户型</dt>
				<a href="##"><dd>一居</dd></a>
				<a href="##"><dd>二居</dd></a>
				<a href="##"><dd>三居</dd></a>
				<a href="##"><dd>四居</dd></a>
				<a href="##"><dd>多居</dd></a>
				<a href="##"><dd>复式</dd></a>
				<a href="##"><dd>别墅</dd></a>
				<a href="##"><dd>公寓</dd></a>
				<a href="##"><dd>四合院</dd></a>
				<a href="##"><dd>其他</dd></a>
			</dl>
			<dl class="dl-fix">
				<a href="mobile-cases.html" id="all-choose" class="choose-all active-style"><dd>全部</dd></a>
			</dl> -->
		</div>
		
	</div>
</section>
<section class="container" id="case-container">
	<!-- <ul id="content-now">
		<li class="content-li">
			<img src="img/case1.png" alt="效果图">
			<a href="##" class="content-size"><h3>花前月下</h3><span>#简约</span><i class="dian"></i><span>三居</span></a>
			<a href="##" class="link-a"></a>
		</li>
		<li class="content-li">
			<img src="img/case2.png" alt="效果图">
			<a href="##" class="content-size"><h3>意林小镇地中海</h3><span>#简约</span><i class="dian"></i><span>三居</span></a>
			<a href="##" class="link-a"></a>
		</li>
		<li class="content-li">
			<img src="img/case3.png" alt="效果图">
			<a href="##" class="content-size"><h3>香鸟语</h3><span>#简约</span><i class="dian"></i><span>三居</span></a>
			<a href="##" class="link-a"></a>
		</li>
	</ul> -->
	<!-- <ul id="space-cases">
		<li class="space-li">
			<a href="">
				<div class="space-box"><img src="cases/img/case1.png" alt="" class="space-cover" /></div>
				<p class="space-case-name">日本 和风 原木 禅意 虚无 无印良品 muji 装修效果图 风格装修样板房 家居 家装 室内设计 住宅 软装 装潢 现代日本 和风 原木 禅意 虚无 无印良品 muji 装修日本 和风 原木 禅意 虚无 无印良品 muji 装修</p>
			</a>
		</li>
		<li class="space-li">
			<a href="">
				<div class="space-box"><img src="cases/img/case1.png" alt="" class="space-cover" /></div>
				<p class="space-case-name">日本 和风 原木 禅意 虚无 无印良品 muji 装修效果图 风格装修样板房 家居 家装 室内设计 住宅 软装 装潢 现代日本 和风 原木 禅意 虚无 无印良品 muji 装修日本 和风 原木 禅意 虚无 无印良品 muji 装修日本 和风 原木 禅意 虚无 无印良品 muji 装修</p>
			</a>
		</li>
	</ul> -->
</section>
<div class="down-page">加载中...</div>
<section class="bottom">
	<a href="javascript:scroll(0, 0)"><i id="goTop" class="iconfont icon-fanhuidingbu"></i></a>
</section>

<script type="text/template" id="case-data">
	<% var n = 1 %>
	<% for(var i=0; i<listing_data.length; i++){ %>
		<% var item = listing_data[i] %>
		<% if(item){ %>
			<% if(i == 6*n-1){ %>
				<% n = n+1 %>
				<li class="case-li content-li topic-li" case-id="<%= item.id%>">
					<img class="lazy-img" data-original=<%= item.cover%>>
					<a class="content-topic" href=mobile-topic.html?topic_id=<%= item.id%>><p class="topic-word"><span>专题</span></p></a>
				</li>
			<% }else{ %>
				<li class="case-li content-li" case-id="<%= item.id%>">
					<img class="lazy-img" data-original=<%= item.cover%>>
					<a href=mobile-detail_case.html?id=<%= item.id%> class="content-size"><div><h3><%= item.name%></h3>
					<p>
						<% for(key in item.style) { %>
							<span><i class="dian"></i><%= item.style[key]%></span>
						<% } %>
						<i class="dian"></i><span><%= item.housetype%></span>
					</p>
					</div></a>
				</li>
			<% } %>
		<% } %>
	<% } %>
</script>
<script type="text/template" id="spacecase-data">
	<% for(var i=0;i<listing_data.length; i++){ %>
		<% var item = listing_data[i] %>
		<li class="case-li space-li" case-id="<%= item.id%>">
			<a href="mobile-detail_case.html?id=<%= item.id%>">
				<div class="space-box"><img data-original="<%= item.case %>" alt="" class="space-cover lazy-img" /></div>
				<p class="space-case-name"><%= item.alt %></p>
			</a>
		</li>
	<% } %>
</script>
<script type="text/template" id="sx-data">
	<dl class="dl-fix">
		<dt>风格</dt>
		<% for(var key in style){%>
			<a href="mobile-cases.html?style_status=<%= key %>"><dd styletype=<%= key%>><%= style[key]%></dd></a>
		<% } %>
	</dl>
	<dl class="dl-fix">
		<dt>户型</dt>
		<% for(var key in house){%>
			<a href="mobile-cases.html?house_status=<%= key %>"><dd housetype=<%= key%>><%= house[key]%></dd></a>
		<% } %>
	</dl>
	<dl class="dl-fix">
		<dt>空间</dt>
		<% for(var key in space){%>
			<a href="mobile-cases.html?space_status=<%= key %>"><dd spacetype=<%= key%>><%= space[key]%></dd></a>
		<% } %>
	</dl>
	<dl class="dl-fix">
		<a href="mobile-cases.html?all" id="all-choose" class="choose-all"><dd>全部</dd></a>
	</dl>
</script>
<script type="text/javascript" src="{R}msite/base/js/zepto.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/underscore-template.js"></script>
<script type="text/javascript" src="{R}msite/base/js/base.js"></script>
<script type="text/javascript" src="{R}msite/base/js/dxlazyload.js"></script>
<script type="text/javascript" src="{R}msite/cases/js/cases.js"></script>
</body>
</html>