<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0, minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<!--iphone桌面快捷方式图标<link rel="apple-touch-icon" href="custom_icon.png">-->
<meta charset="utf-8">
<meta name="keywords" content="装修管家,量房设计,装修施工,材料商城,环保方案,装修服务,装修图库,建材商城,装修攻略、优装网、装修网、优装美家">
<meta name="description" content="优装美家为您提供免费专业咨询、免费量房、免费设计、免费装修保险、免费环保检测、优装网-专业装修网优选装修公司、优选建材商品、优选装修管家、优选环保服务">
<title>优装美家—管家式装修服务 有品质的低价</title>
<link href="{R}msite/base/css/base.css" rel="stylesheet" type="text/css">
<link href="{R}msite/building_classroom/css/index.css" rel="stylesheet" type="text/css">
<div style="display:none">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0a9b93e0ac9bdda145e2d4f6ffa88ee5";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</div>
</head>
<body>
<div id='share_logo' style='margin:0 auto;display:none;'>
  <img src="{R}msite/base/img/share_logo.jpg"/>
</div>
<header>
	<div class="tit_minu">
        <a id="go-back" target="_self" title="优装美家">
            <i class="iconfont icon-goback"></i>
        </a>
        <a class="back_index" href="mobile-index.html">首页</a>
    </div>
	<h1 class="header-title">学装修</h1>
</header>
<section class="banner">
	<img src="{R}msite/building_classroom/img/banner.jpg" alt="banner图" />
</section>

<!-- 视频讲堂 S -->
<section class="video-classroom">
	<a class="header-module" href="/mobile-video_list.html">
		<h3>视频讲堂</h3>
		<p><span>更多</span><i class="iconfont icon-arrow"></i></p>
	</a>
	<ul class="video-list clearfix" id="video-box">
		<!-- <li>
			<div class="video-img">
				<img src="{R}msite/building_classroom/img/video_img.jpg" alt="视频封面图" />
				<i class="play_btn"></i>
			</div>
			<div class="c_video" id="youkuplayer">
		    	<iframe src="http://player.youku.com/embed/XMTYwODMxMDUwMA==" frameborder=0 allowfullscreen></iframe>
		    </div>
			<p class="video-title">《装修课堂第1季》- 水电篇</p>
		</li> -->
	</ul>
</section>
<!-- 视频讲堂 E -->

<!-- 装修攻略 S -->
<section class="building-room">
	<a class="header-module" href="mobile-building_gl.html">
		<h3>装修攻略</h3>
		<p><span>更多</span><i class="iconfont icon-arrow"></i></p>
	</a>
	<ul class="building-list" id="gl-box">
		<!-- <li>
			<a href="#">
				<div class="img-box">
					<img src="{R}msite/building_classroom/img/list_img.jpg" alt="攻略图" />
					<span>收房</span>
				</div>
				<div class="word-box">
					<h3>装修管家15年经验总结 收房...</h3>
					<p>房屋装修分为硬装和软装，前者决定房屋质量而后者却是决定房屋美观与否的</p>
				</div>
			</a>
		</li> -->
	</ul>
</section>
<!-- 装修攻略 E -->

<!-- 业主故事 S -->
<section>
	<a class="header-module" href="mobile-building_story.html">
		<h3>业主故事</h3>
		<p><span>更多</span><i class="iconfont icon-arrow"></i></p>
	</a>
	<ul class="story-list" id="story-box">
		<!-- <li>
			<a href="#">
				<div class="story-box">
					<img src="{R}msite/building_classroom/img/story_img.jpg" alt="业主故事封面图" />
					<div class="ceng-box">
						<h3>80后花10万爆改160㎡破厂房！80后圆烘焙梦</h3>
						<p>2016-08-18</p>
					</div>
				</div>
			</a>
		</li> -->
	</ul>
</section>
<!-- 业主故事 E -->

<!-- 装修风水 S -->
<section>
	<a class="header-module" href="mobile-building_fs.html">
		<h3>装修风水</h3>
		<p><span>更多</span><i class="iconfont icon-arrow"></i></p>
	</a>
	<ul class="building-list" id="fs-box">
		<!-- <li>
			<a href="#">
				<div class="img-box">
					<img src="{R}msite/building_classroom/img/list_img.jpg" alt="攻略图" />
				</div>
				<div class="word-box">
					<h3>装修管家15年经验总结 收房...</h3>
					<p>房屋装修分为硬装和软装，前者决定房屋质量而后者却是决定房屋美观与否的</p>
				</div>
			</a>
		</li> -->
	</ul>
</section>
<!-- 装修风水 E -->

<!-- 家装选材 S -->
<section class="building-material">
	<a class="header-module" href="mobile-building_cl.html">
		<h3>家装选材</h3>
		<p><span>更多</span><i class="iconfont icon-arrow"></i></p>
	</a>
	<ul class="building-list" id="cl-box">
		<!-- <li>
			<a href="#">
				<div class="img-box">
					<img src="{R}msite/building_classroom/img/list_img.jpg" alt="攻略图" />
				</div>
				<div class="word-box">
					<h3>装修管家15年经验总结 收房...</h3>
					<p>房屋装修分为硬装和软装，前者决定房屋质量而后者却是决定房屋美观与否的</p>
				</div>
			</a>
		</li> -->
	</ul>
</section>
<!-- 家装选材 E -->

<!-- 视频讲堂 -->
<script type="text/template" id="video-data">
	<% for(var i=0; i<video_lecture.length; i++){ %>
		<% var item = video_lecture[i] %>
		<% var newT = encodeURIComponent(item.title) %>
		<li>
			<div class="video-img">
				<a href="/mobile-play_video.html?videourl=<%= item.url %>&title=<%= newT %>&id=<%= item.id %>">
					<img src="<%= item.thumb %>" alt="视频封面图" />
					<i class="play_btn"></i>
				</a>
			</div>
			<!-- <div class="c_video">
		    	<iframe width="100%" height="100%" src="<%= item.url %>" frameborder=0 allowfullscreen></iframe>
		    </div> -->
			<p class="video-title"><%= item.title %></p>
		</li>
	<% } %>
</script>
<!-- 装修攻略 -->
<script type="text/template" id="gl-data">
	<% for(var i=0; i<zx_strategy.length; i++){ %>
		<% var item = zx_strategy[i] %>
		<li>
			<a href="<%= item.url %>&pid=gl">
				<div class="img-box">
					<img src="<%= item.thumb %>" alt="攻略图" />
					<span><%= item.cid_name %></span>
				</div>
				<div class="word-box">
					<h3 class="same-h3"><%= item.title %></h3>
					<p class="same-p"><%= item.remark %></p>
				</div>
			</a>
		</li>
	<% } %>
</script>
<!-- 业主故事 -->
<script type="text/template" id="story-data">
	<% for(var i=0; i<owner_story.length; i++){ %>
		<% var item = owner_story[i] %>
		<li>
			<a href="<%= item.url %>&pid=gs">
				<div class="story-box">
					<img src="<%= item.thumb %>" alt="业主故事封面图" />
					<div class="ceng-box">
						<h3 class="story-h3"><%= item.title %></h3>
						<p><%= item.addtime %></p>
					</div>
				</div>
			</a>
		</li>
	<% } %>
</script>
<!-- 装修风水 -->
<script type="text/template" id="fs-data">
	<% for(var i=0; i<house_geomancy.length; i++){ %>
		<% var item = house_geomancy[i] %>
		<li>
			<a href="<%= item.url %>&pid=fs">
				<div class="img-box">
					<img src="<%= item.thumb %>" alt="攻略图" />
				</div>
				<div class="word-box">
					<h3 class="same-h3"><%= item.title %></h3>
					<p class="same-p"><%= item.remark %></p>
				</div>
			</a>
		</li>
	<% } %>
</script>
<!-- 家装选材 -->
<script type="text/template" id="cl-data">
	<% for(var i=0; i<material_selection.length; i++){ %>
		<% var item = material_selection[i] %>
		<li>
			<a href="<%= item.url %>&pid=cl">
				<div class="img-box">
					<img src="<%= item.thumb %>" alt="攻略图" />
				</div>
				<div class="word-box">
					<h3 class="same-h3"><%= item.title %></h3>
					<p class="same-p"><%= item.remark %></p>
				</div>
			</a>
		</li>
	<% } %>
</script>
<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<script type="text/javascript" src="{R}msite/base/js/zepto.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/underscore.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/size.js"></script>
<script type="text/javascript" src="{R}msite/base/js/base.js"></script>
<script type="text/javascript" src="{R}msite/building_classroom/js/common.js"></script>
<script type="text/javascript" src="{R}msite/building_classroom/js/classroom.js"></script>

</body>
</html>