
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490853069012'); /* IE9*/
  src: url('iconfont.eot?t=1490853069012#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490853069012') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490853069012') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490853069012#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu1:before { content: "\e65d"; }

.icon-goback:before { content: "\e627"; }

.icon-right:before { content: "\e638"; }

.icon-slideup:before { content: "\e63d"; }

.icon-xuanze:before { content: "\e6c3"; }

.icon-jiangliguize:before { content: "\e6c4"; }

.icon-jiangliguize-1:before { content: "\e6c5"; }

.icon-wodezhanghu:before { content: "\e6c6"; }

.icon-wodezhanghu1:before { content: "\e6c7"; }

.icon-lianxikefu:before { content: "\e6c8"; }

.icon-lianxikefu1:before { content: "\e6c9"; }

.icon-erweima:before { content: "\e6ca"; }

.icon-shibai:before { content: "\e6cb"; }

.icon-chenggong:before { content: "\e6cc"; }

.icon-shanchu:before { content: "\e6cd"; }

.icon-jiangliguize2:before { content: "\e6cf"; }

.icon-xuanze2:before { content: "\e6d0"; }

.icon-tuijianhaoyou:before { content: "\e6d5"; }

.icon-tuijianhaoyou1:before { content: "\e6d6"; }

