.check_acc{

}
.check_title{
	height:2.625rem;
	line-height:2.625rem;
	font-size:0;
}
.title_logo{
	display: inline-block;
	color: #448aff;
	overflow: hidden;
	width:1.375rem;
	height:1.375rem;
	border:1px solid #448aff;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	vertical-align: middle;
	line-height:1.575rem;
	text-align: center;
	font-size:0;
	margin:0 0.4rem 0 1rem;
}
.title_logo .iconfont{
	font-size:0.75rem;
	display: inline-block;
	vertical-align: middle;
	line-height:1em;
}
.acc_titlename{
	font-size:0.95rem;
	color: #333;
	vertical-align: middle;
}
.check_cont{
	background: #f2f3f7;
	overflow: hidden;
	width:18.9375rem;
	margin:0 auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.check_image{
	font-size:0;
	padding:0.95rem 0 0 0.825rem;
}
.check_image li{
	display: inline-block;
	width:5.525rem;
	height:4.5rem;
	background: #fff;
	margin: 0 0.4rem 0.4rem 0;
	overflow: hidden;
}
.butler_say_list{
	font-size:0;
	padding:0.5rem 0;
}
.say_logo {
	vertical-align: top;
	width: 2.15rem;
	height: 2.15rem;
	margin-left:1rem;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	overflow: hidden;
}
.color_blue{
	color: #448aff;
}
.say_logo,.say_text{
	display: inline-block;
}
.say_text {
	width: 14.4rem;
	line-height: 1.2rem;
	color: #666;
	/*position: relative;*/
	/*top: .6rem;*/
	/*left: .3rem;*/
	font-size: .75rem;
	margin:0.6rem 0 0 .3rem;
}
.table_yanshou{
	width:17.1875rem;
	margin:.3125rem auto;
}
.acc_table{
	width:100%;
	text-align: center;
	line-height:1.5625rem;
	font-size:0.5625rem;
	font-weight: normal;
	border-collapse: collapse;
	background: #fff;
}
.acc_table,.acc_table th,.acc_table td{
	border:1px solid #d5dade;
}
.acc_table th{
	color: #333;
	font-size:0.625rem;
}
.acc_table td{
	color: #999;
}
.acc_button_mode{
	text-align: center;
}
.acc_button{
	-webkit-appearance: none;
	width:16.3125rem;
	margin:1rem auto;
	height: 1.59375rem;
	background: #448aff;
	color: #fff;
	line-height: 1.59375rem;
	text-align: center;
	outline: none;
	font-size: 0.6875rem;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.water,.circuit{
	padding:0.4rem 0.4rem;
}
.water_ul{
	/*padding:0.3rem 0.6rem 0.3rem 0.6rem;*/
	/*background: #fff;*/
	-webkit-border-radius:0.2rem;
	-moz-border-radius:0.2rem;
	border-radius:0.2rem;
}
.say_text{
	position: static;
	top:0;
	left:0;
}
.water_minu.water_minuon{
	background: #fff;
}
.water_cont{
	background: #fff;
}
.space_photo{
	background: none;
}
.meter_table{
	width:95%;
	margin:0 auto;
}
.meter_table td{
	background: #fff;
}
.accp{
	background: none;
	margin:0 auto;
}
.accp_title{
	width:94%;
}